*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  box-sizing: border-box;
  font-size: 62.5%; }

body {
  font-size: 1.8rem;
  font-family: "Public Sans", sans-serif;
  color: #9698a6;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

.main {
  overflow: hidden; }

.h-1, .h-2, .h-3, .h-4 {
  font-weight: 400;
  color: #2d314d; }

.h-1 {
  font-size: 5rem; }

.mb-sm {
  margin-bottom: 2rem; }

.mb-md {
  margin-bottom: 4rem; }

.mb-lg {
  margin-bottom: 8rem; }

.u-center-text {
  text-align: center; }

.forward {
  height: calc(100vh - 6rem);
  width: 100vw;
  background-color: #f3f4f6;
  position: relative;
  display: flex;
  align-items: center;
  padding-left: 16rem; }
  .forward__message {
    width: 33%; }
  .forward__heading {
    margin-bottom: 4rem; }
  .forward__text {
    margin-bottom: 4rem; }
  .forward__bg-intro {
    position: absolute;
    top: -260px;
    right: -27%; }
  .forward__mockup {
    position: absolute;
    top: -125px;
    right: -135px;
    z-index: 5; }

.header {
  height: 6rem;
  width: 100vw;
  background-color: white;
  display: flex;
  padding: 0 16rem;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0 2rem 5rem rgba(0, 0, 0, 0.1);
  position: relative;
  z-index: 10; }
  .header__nav {
    display: flex;
    align-self: stretch;
    align-items: center; }
  .header__nav-item {
    position: relative;
    list-style: none;
    height: 100%;
    display: flex;
    align-items: center; }
    .header__nav-item:not(:last-child) {
      margin-right: 2.5rem; }
  .header__nav-item-link:link, .header__nav-item-link:visited {
    text-decoration: none;
    color: #9698a6;
    font-size: 1.6rem;
    transition: all 0.3s ease; }
  .header__nav-item-link:hover, .header__nav-item-link:active {
    color: #2d314d; }
  .header__nav-item-line {
    background-image: linear-gradient(to right bottom, #31d35c, #2bb7da);
    position: absolute;
    bottom: 0;
    right: 0;
    height: 0.3rem;
    width: 100%;
    opacity: 0;
    transition: opacity 0.3s ease; }
  .header__nav-item-link:hover + .header__nav-item-line {
    opacity: 1; }

.btn {
  background: linear-gradient(to right bottom, #31d35c, #2bb7da);
  color: white;
  font-family: inherit;
  border: none;
  padding: 1.2rem 2rem;
  display: inline-block;
  border-radius: 50px;
  transition: all 0.3s ease;
  filter: brightness(100%);
  box-shadow: 0 2rem 5rem rgba(0, 0, 0, 0.1); }
  .btn:hover {
    filter: brightness(120%);
    background: linear-gradient(to right bottom); }

.attribution {
  font-size: 11px;
  text-align: center;
  color: #d7d7db;
  background-color: #2d314d; }

.attribution a {
  color: #1fe718; }
