*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  box-sizing: border-box;
  font-size: 62.5%; }

body {
  font-size: 1.8rem;
  font-family: "Public Sans", sans-serif;
  color: #9698a6; }

.heading-1, .heading-2, .heading-3, .heading-4 {
  font-weight: 400;
  color: #2d314d; }

.mb-sm {
  margin-bottom: 2rem; }

.mb-md {
  margin-bottom: 3rem; }

.mb-lg {
  margin-bottom: 4rem; }

.mb-hg {
  margin-bottom: 8rem; }

.u-center-text {
  text-align: center !important; }

.u-margin-bottom-big {
  margin-bottom: 8rem !important; }

.u-margin-bottom-medium {
  margin-bottom: 4rem !important; }

.u-margin-bottom-small {
  margin-bottom: 1.5rem !important; }

.u-margin-top-huge {
  margin-top: 10rem !important; }

.u-margin-top-big {
  margin-top: 8rem !important; }

.header {
  height: 6rem;
  width: 100vw;
  background-color: white;
  display: flex;
  padding: 0 16rem;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0 2rem 5rem rgba(0, 0, 0, 0.1); }
  .header__nav {
    display: flex;
    align-self: stretch;
    align-items: center; }
  .header__nav-item {
    position: relative;
    list-style: none;
    height: 100%;
    display: flex;
    align-items: center; }
    .header__nav-item:not(:last-child) {
      margin-right: 2.5rem; }
  .header__nav-item-link:link, .header__nav-item-link:visited {
    text-decoration: none;
    color: #9698a6;
    font-size: 1.6rem;
    transition: all 0.3s ease; }
  .header__nav-item-link:hover, .header__nav-item-link:active {
    color: #2d314d; }
  .header__nav-item-line {
    background-image: linear-gradient(to right bottom, #31d35c, #2bb7da);
    position: absolute;
    bottom: 0;
    right: 0;
    height: 0.3rem;
    width: 100%;
    opacity: 0;
    transition: opacity 0.3s ease; }
  .header__nav-item-link:hover + .header__nav-item-line {
    color: #2d314d;
    opacity: 1; }

.btn {
  background: linear-gradient(to right bottom, #31d35c, #2bb7da);
  color: white;
  font-family: inherit;
  border: none;
  padding: 1.2rem 2rem;
  display: inline-block;
  border-radius: 50px;
  transition: all 0.3s ease;
  filter: brightness(100%); }
  .btn:hover {
    filter: brightness(120%); }

.attribution {
  font-size: 11px;
  text-align: center;
  color: #d7d7db;
  background-color: #2d314d; }

.attribution a {
  color: #1fe718; }
