// COLOR VARIABLES
$color-text-h: hsl(233, 26%, 24%); //dark-blue
$color-primary-2: hsl(136, 65%, 51%); //lime-green
$color-primary-3: hsl(192, 70%, 51%); //bright-cyan

$color-text: hsl(233, 8%, 62%); //grey-blue
$color-grey-blue-light: hsl(220, 16%, 96%);
$color-very-light-gray: hsl(0, 0%, 98%);
$color-white: hsl(0, 0%, 100%);

$shadow-dark: 0rem 2rem 6rem rgba(0, 0, 0, 0.3);
$shadow-light: 0 2rem 5rem rgba(0, 0, 0, 0.1);

//RESPONSIVE BREAKPOINT
$bp-tab-land: 75em; //1200px
// $bp-large: 68.75em; //1100px
$bp-tab-port: 53.125em; //900px
$bp-phone: 37.5em; //600px
// $bp-small: 31.25em; //500px

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-size: 62.5%; //1 rem = 10px; 10px/16px = 62.5%
  // @media only screen and (max-width: $bp-large) {
  //   font-size: 58.6%;
  // }
}

body {
  font-size: 1.8rem;
  font-family: "Public Sans", sans-serif;
  color: $color-text;
  line-height: 1.7;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  // &::-webkit-scrollbar {
  //   width: 8px;
  //   height: 8px;
  //   display: block;
  // }
  // &::-webkit-scrollbar-thumb {
  //   background-color: #ccc;
  //   border-radius: 4px;
  //   &:hover {
  //     background-color: #b3b3b3;
  //     box-shadow: 0 0 2px 1px rgba(0, 0, 0, 0.2);
  //   }
  //   &:active {
  //     background-color: #999999;
  //   }
  // }
}
.main {
  overflow: hidden;
}

// ::selection {
//     background-color: $color-primary;
//     color: $color-white;
// }

//////////////// TYPOGRAPHY START //////////////////////
///
%heading {
  font-weight: 400;
  color: $color-text-h;
  line-height: normal;
}

.h-1 {
  @extend %heading;
  font-size: 5rem;
}

.h-2 {
  @extend %heading;
  font-size: 4rem;
}

.h-3 {
  @extend %heading;
  font-size: 3rem;
}

.h-4 {
  @extend %heading;
}
///
//////////////// TYPOGRAPHY END //////////////////////

//////////////// UTILITY START //////////////////////
///
.mb-sm {
  margin-bottom: 2rem;
}
.mb-md {
  margin-bottom: 4rem;
}
.mb-lg {
  margin-bottom: 8rem;
}
.u-center-text {
  text-align: center;
}
///
//////////////// UTILITY END //////////////////////
