.benefits {
  padding: 10rem 16rem;
  z-index: 2;
  position: relative;
  background-color: $color-grey-blue-light;
  &__heading-box {
    width: 55%;
    margin-bottom: 6rem;
  }
  &__header {
    margin-bottom: 3rem;
  }
  &__message {
  }
  &__container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-column-gap: 2.2rem;
    grid-row-gap: 3rem;
  }
}

.benefit {
  &__icon {
  }
  &__header {
    margin-top: 2.5rem;
    margin-bottom: 2.5rem;
  }
  &__message {
    font-size: 1.7rem;
  }
}
