.blogs {
  padding: 10rem 16rem;
  background-color: $color-very-light-gray;
  overflow: hidden;
  @media only screen and (max-width: $bp-tab-land) {
    padding: 10rem 10rem;
  }
  @media only screen and (max-width: $bp-tab-port) {
    padding: 6rem 6rem;
  }
  @media only screen and (max-width: $bp-phone) {
    padding: 5rem 3rem;
  }
  @media only screen and (max-width: $bp-small-phone) {
    padding: 4rem 2.5rem;
  }
  &__header {
    margin-bottom: 6rem;
    @media only screen and (max-width: $bp-tab-port) {
      margin-bottom: 4rem;
    }
    @media only screen and (max-width: $bp-phone) {
      text-align: center;
    }
  }
  &__container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
    grid-gap: 3rem;
    grid-row-gap: 5rem;
    @media only screen and (max-width: $bp-tab-port) {
      grid-row-gap: 3rem;
    }
    @media only screen and (max-width: $bp-small-phone) {
      grid-template-columns: 1fr;
    }
  }
}
.blog {
  border-radius: 8px;
  overflow: hidden;
  background-color: $color-white;
  box-shadow: $shadow-light;
  height: 45rem;
  @media only screen and (max-width: $bp-small-phone) {
    height: max-content;
  }

  &__image {
    height: 50%;
    width: 100%;
    object-fit: cover;
  }
  &__content {
    height: 50%;
    display: flex;
    flex-direction: column;
    padding: 2rem 2rem;
  }
  &__author {
    font-size: 1.2rem;
    line-height: normal;
  }
  &__header {
    margin: 1rem 0;
    transition: color 0.2s;
    cursor: pointer;
    line-height: normal;
    &:hover {
      color: $color-primary-2;
    }
  }
  &__message {
    font-size: 1.4rem;
    line-height: 1.5;
  }
}
