.btn {
  background: linear-gradient(
    to right bottom,
    $color-primary-2,
    $color-primary-3
  );
  color: $color-white;
  font-family: inherit;
  border: none;
  padding: 1.2rem 2rem;
  display: inline-block;
  border-radius: 50px;
  transition: all 0.3s ease;
  filter: brightness(100%);
  box-shadow: $shadow-light;
  &:hover {
    filter: brightness(120%);
    background: linear-gradient(to right bottom);
  }
}
