.forward {
  height: calc(100vh - 6rem);
  width: 100vw;
  background-color: $color-very-light-gray;
  position: relative;
  display: flex;
  align-items: center;
  padding-left: 16rem;
  &__message {
    // width: 44rem;
    width: 33%;
  }
  &__heading {
    margin-bottom: 4rem;
    // width: 44rem;
  }
  &__text {
    margin-bottom: 4rem;
    // width: 44rem;
  }
  &__bg-intro {
    position: absolute;
    top: -260px;
    right: -27%;
  }
  &__mockup {
    position: absolute;
    top: -125px;
    right: -135px;
    z-index: 5;
  }
}
