.forward {
  height: 66rem;
  width: 100vw;
  background-color: $color-very-light-gray;
  position: relative;
  display: flex;
  align-items: center;
  padding-left: 16rem;
  margin-top: 6rem;
  @media only screen and (max-width: $bp-tab-land) {
    padding-left: 10rem;
  }
  @media only screen and (max-width: $bp-tab-port) {
    padding-left: 6rem;
  }
  @media only screen and (max-width: $bp-phone) {
    padding-left: 0;
    flex-direction: column-reverse;
    height: min-content;
  }
  &__message {
    width: 33%;
    animation: bounce-in-left 1.1s 2s backwards;
    position: relative;
    z-index: 1;
    @media only screen and (max-width: $bp-tab-land) {
      width: 37%;
    }
    @media only screen and (max-width: $bp-tab-port) {
      width: 40%;
    }
    @media only screen and (max-width: $bp-phone) {
      width: 100%;
      padding: 0 3rem;
      margin-bottom: 5rem;
      text-align: center;
    }
    @media only screen and (max-width: $bp-small-phone) {
      padding: 0 2.5rem;
      margin-bottom: 4rem;
    }
  }
  &__heading {
    margin-bottom: 4rem;
  }
  &__text {
    margin-bottom: 4rem;
  }

  &__bg-intro-box {
    position: relative;
    height: 100%;
    width: 67%;
    @media only screen and (max-width: $bp-phone) {
      top: 0;
      right: 0;
      width: 100%;
      height: 70vw;
      margin-bottom: 10vw;
    }
  }
  &__bg-intro {
    position: absolute;
    top: -27rem;
    animation: slide-in-right 1s cubic-bezier(0.25, 0.46, 0.45, 0.94) backwards;
    @media only screen and (min-width: $bp-large-desktop) {
      top: -10rem;
      right: -21rem;
    }
    @media only screen and (max-width: $bp-phone) {
      display: none;
    }
  }
  &__bg-intro-m {
    display: none;
    @media only screen and (max-width: $bp-phone) {
      display: block;
      position: absolute;
      top: -14vw;
      right: 0;
      width: 100%;
      height: 150%;
    }
  }

  &__mockup {
    position: absolute;
    top: -12.5rem;
    right: -13.5rem;
    z-index: 5;
    animation: swirl-in-fwd 0.6s ease-out 1s both;

    @media only screen and (max-width: $bp-tab-land) {
      height: 125%;
      top: -10.5rem;
      right: -14.5rem;
    }

    @media only screen and (max-width: $bp-tab-port) {
      height: 117%;
      top: -7rem;
      right: -13rem;
      width: 128%;
      object-fit: contain;
    }

    @media only screen and (max-width: $bp-phone) {
      top: -32vw;
      right: 50%;
      width: calc(100vw - 5rem);
      height: 155%;
      animation: swirl-in-fwd-m 0.6s ease-out 1s both;
    }
  }
}

// Keyframes

@keyframes bounce-in-left {
  0% {
    transform: translateX(-600px);
    animation-timing-function: ease-in;
    opacity: 0;
  }
  38% {
    transform: translateX(0);
    animation-timing-function: ease-out;
    opacity: 1;
  }
  55% {
    transform: translateX(-68px);
    animation-timing-function: ease-in;
  }
  72% {
    transform: translateX(0);
    animation-timing-function: ease-out;
  }
  81% {
    transform: translateX(-28px);
    animation-timing-function: ease-in;
  }
  90% {
    transform: translateX(0);
    animation-timing-function: ease-out;
  }
  95% {
    transform: translateX(-8px);
    animation-timing-function: ease-in;
  }
  100% {
    transform: translateX(0);
    animation-timing-function: ease-out;
  }
}
@keyframes slide-in-right {
  0% {
    transform: translateX(1000px);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}
@keyframes swirl-in-fwd {
  0% {
    transform: rotate(-540deg) scale(0);
    opacity: 0;
  }
  100% {
    transform: rotate(0) scale(1);
    opacity: 1;
  }
}
@keyframes swirl-in-fwd-m {
  0% {
    transform: rotate(-540deg) scale(0);
    opacity: 0;
  }
  100% {
    transform: rotate(0) scale(1) translateX(50%);
    opacity: 1;
  }
}
