.header {
  height: 6rem;
  width: 100vw;
  background-color: $color-white;
  display: flex;
  padding: 0 16rem;
  justify-content: space-between;
  align-items: center;
  box-shadow: $shadow-light;
  position: relative;
  z-index: 10;

  &__nav {
    display: flex;
    align-self: stretch;
    align-items: center;
  }
  &__nav-item {
    position: relative;
    list-style: none;
    height: 100%;
    display: flex;
    align-items: center;
    &:not(:last-child) {
      margin-right: 2.5rem;
    }
  }
  &__nav-item-link {
    &:link,
    &:visited {
      text-decoration: none;
      color: $color-text;
      font-size: 1.6rem;
      transition: all 0.3s ease;
    }
    &:hover,
    &:active {
      color: $color-text-h;
    }
  }

  &__nav-item-line {
    background-image: linear-gradient(
      to right bottom,
      $color-primary-2,
      $color-primary-3
    );
    position: absolute;
    bottom: 0;
    right: 0;
    height: 0.3rem;
    width: 100%;
    opacity: 0;
    transition: opacity 0.3s ease;
  }

  &__nav-item-link:hover + &__nav-item-line {
    opacity: 1;
  }
}
